.App {
  background-color: #00b9e6;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 185%2c 230%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c540.026C116.389%2c547.809%2c247.311%2c600.405%2c342.795%2c533.399C438.438%2c466.281%2c428.854%2c323.617%2c466.166%2c212.891C499.13%2c115.068%2c558.786%2c23.822%2c549.144%2c-78.955C539.285%2c-184.047%2c479.592%2c-275.953%2c412.648%2c-357.562C344.284%2c-440.902%2c268.881%2c-538.554%2c161.824%2c-551.123C55.798%2c-563.571%2c-28.431%2c-469.122%2c-123.471%2c-420.503C-199.316%2c-381.703%2c-275.657%2c-350.49%2c-339.851%2c-294.482C-412.662%2c-230.956%2c-492.309%2c-167.374%2c-519.778%2c-74.733C-548.935%2c23.601%2c-529.134%2c129.248%2c-494.071%2c225.635C-456.958%2c327.659%2c-406.14%2c431.16%2c-314.546%2c489.444C-223.099%2c547.634%2c-108.149%2c532.794%2c0%2c540.026' fill='%2300a5cd'%3e%3c/path%3e%3cpath d='M1440 1075.795C1534.012 1050.68 1620.993 1020.115 1708.958 978.5070000000001 1810.487 930.483 1922.635 899.429 1994.8029999999999 813.37 2079.006 712.9590000000001 2150.721 589.565 2144.904 458.65 2138.92 323.98699999999997 2067.832 191.69799999999998 1963.393 106.47800000000001 1864.628 25.888000000000034 1721.484 53.62700000000001 1600.253 14.227999999999952 1474.033-26.793000000000006 1364.831-167.07799999999997 1237.571-129.409 1110.262-91.72500000000002 1072.1309999999999 70.52499999999998 1011.326 188.55200000000002 962.9780000000001 282.398 945.325 382.666 920.853 485.358 893.632 599.586 835.734 710.071 859.652 825.0360000000001 886.209 952.685 939.8589999999999 1100.2820000000002 1059.546 1151.9969999999998 1180.728 1204.358 1312.463 1109.866 1440 1075.795' fill='%2300cdff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem auto;
  height: 100vh;
}

.header{
  background-color: white;
  display: flex;
  grid-column: 1/-1;
  align-items: center;
}

.header__logoEpam{
  margin-top: .3rem;
  margin-left: .5rem;
  margin-right: 1rem;
  width: 5rem;
}

.header__title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .3rem;
  color: rgb(88, 88, 88);
  letter-spacing: .1rem;
}