.App {
  background-color: rgb(59, 162, 206);
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem auto;
  height: 100vh;
}

.header{
  background-color: white;
  display: flex;
  grid-column: 1/-1;
  align-items: center;
}

.header__logoEpam{
  margin-top: .3rem;
  margin-left: .5rem;
  margin-right: 1rem;
  width: 5rem;
}

.header__title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .3rem;
  color: rgb(88, 88, 88);
  letter-spacing: .1rem;
}